* {
    margin: 0px;
    padding: 0px;

    --text-color: rgb(145, 42, 138);
    

    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(255,146,87);
    background: radial-gradient(circle, rgba(255,146,87,1) 0%, rgba(255,132,87,1) 56%, rgba(233,43,203,1) 100%);
}

h1 {
    font-size: 4rem;
    color: var(--text-color);
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
